[submodule "probability"]
	path = probability
	url = https://github.com/kelseymatsik/probability.git
[submodule "cv_and_lasso"]
	path = cv_and_lasso
	url = git@github.com:kelseymatsik/cv_and_lasso.git
[submodule "aNN"]
	path = aNN
	url = git@github.com:kelseymatsik/aNN.git
[submodule "project_chd"]
	path = project_chd
	url = git@github.com:kelseymatsik/project_chd.git
[submodule "misc"]
	path = misc
	url = git@github.com:kelseymatsik/misc.git
[submodule "ensembles"]
	path = ensembles
	url = git@github.com:kelseymatsik/ensembles.git
