[submodule "probability"]
	path = probability
	url = https://github.com/kelseymatsik/probability.git
[submodule "cv_and_lasso"]
	path = cv_and_lasso
	url = git@github.com:kelseymatsik/cv_and_lasso.git
[submodule "aNN"]
	path = aNN
	url = git@github.com:kelseymatsik/aNN.git
[submodule "project_chd"]
	path = project_chd
	url = git@github.com:kelseymatsik/project_chd.git
[submodule "misc"]
	path = misc
	url = git@github.com:kelseymatsik/misc.git
[submodule "ensembles"]
	path = ensembles
	url = git@github.com:kelseymatsik/ensembles.git
[submodule "linearRegression"]
	path = linearRegression
	url = git@github.com:kelseymatsik/linearRegression.git
[submodule "model_evaluation"]
	path = model_evaluation
	url = git@github.com:kelseymatsik/model_evaluation.git
[submodule "trees"]
	path = trees
	url = git@github.com:kelseymatsik/trees.git
[submodule "gss_project"]
	path = gss_project
	url = git@github.com:kelseymatsik/gss_project.git
[submodule "github_intro"]
	path = github_intro
	url = git@github.com:kelseymatsik/github_intro.git
[submodule "kmc"]
	path = kmc
	url = git@github.com:kelseymatsik/kmc.git
[submodule "knn"]
	path = knn
	url = git@github.com:kelseymatsik/knn.git
[submodule "visualization"]
	path = visualization
	url = git@github.com:kelseymatsik/visualization.git
[submodule "wrangling"]
	path = wrangling
	url = git@github.com:kelseymatsik/wrangling.git
[submodule "programming"]
	path = programming
	url = git@github.com:kelseymatsik/programming.git
[submodule "EDA"]
	path = EDA
	url = git@github.com:kelseymatsik/EDA.git
[submodule "the_bootstrap"]
	path = the_bootstrap
	url = git@github.com:kelseymatsik/the_bootstrap.git
[submodule "bias_and_variance"]
	path = bias_and_variance
	url = git@github.com:kelseymatsik/bias_and_variance.git
[submodule "project_voting"]
	path = project_voting
	url = git@github.com:kelseymatsik/project_voting.git
